

.main-container {
  width: 100%;
  display: flex;
}
.box-container {
  flex: 1;
  padding: 5px;
}
.bus {
  border-right: 2px solid wheat;

}
.bus h2 {
  background-color: wheat;
  text-align: center;
  padding: 7px 5px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.707);
}
.listchair-container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.chair {
  width: 43px;
  height: 37px;
  margin: 5px;

}
.chairs-reserved h2{
  font-size: 1.3rem;
}
