
* {
  box-sizing: border-box;
  margin: 0;
  paddinG: 0;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: #6e6c69;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
li {
  font-size: 17px;
  padding: 5px;
}
.container {
  width: 600px;
  height: 100vh;
  margin: 0 auto;
  background-color: whitesmoke;
  border-bottom: wheat solid 2px;
  display: flex;
}
.nav-bar {
    background-color: burlywood;
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-bar ul{
  height: 50%;
  width: 100%;
}
.nav-bar ul li{
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;

}
.nav-bar a:visited {
  background: 'whitesmoke';
}
.container-conponents {
  width: 100%;
  overflow: scroll;
}
.header-title {
  width: 540px;
  position: fixed;
  background-color: burlywood;
  text-transform: uppercase;
  text-align: center;

}
.fix-container {
  padding: 45px 5px 0px;
}